$blue: rgba(2, 130, 249, 255);
$gray: rgb(158, 157, 157);
$darkgray: rgba(48, 48, 48, 255);
$white: white;
$black: rgba(28, 28, 28, 255);
$green: rgb(88, 182, 88);
$darkblue: rgb(53, 53, 105);
$lightblue: rgb(68, 158, 189);